*

!/.gitignore   
!/README.md
!/LICENSE
!/version
!/CMakeLists.txt

!/.github/
!/.github/**/*

!/cmake/       
!/cmake/**/*   

!/gen/       
!/gen/**/*   

!/src/       
!/src/**/*   

!/test/       
!/test/**/*   

!/docs/       
!/docs/**/*   
